@font-face {
    font-family: Vazir Code;
    src: url('../fonts/vazir-code/Vazir-Code.eot');
    src: url('../fonts/vazir-code/Vazir-Code.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vazir-code/Vazir-Code.woff') format('woff'),
         url('../fonts/vazir-code/Vazir-Code.ttf') format('truetype');
    font-weight: normal;
  }