.idea/
_site/
/node_modules/
/.sass-cache/
/.jekyll-metadata
/.asset-cache/
.DS_Store
/_test/
assets/css/*.css
assets/plugins/**/plugin.css
assets/plugins/**/plugin.min.css
generated-site
deploy-site
/commits.sh
/assets/css/
/vendor/
