---
title: Profile
layout: default
menu: me
---

<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<div class="row">
				<div class="col-lg-12">
					{% include cards/profile.html %}
				</div>
				<div class="col-lg-12 text-center">
						<script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#46b798', 'P5P011XLE');kofiwidget2.draw();</script>
				</div>
			</div>
		</div>
		<div class="col-lg-8">
			<div class="row">
				<div class="col-lg-12">
					{% capture profile_raw %}{% include aryan/profile.md %}{% endcapture %}
					{% assign profile_md = profile_raw | markdownify %}
					{% include cards/card.html title="Aryan Ebrahimpour" content=profile_md %}
				</div>
				<div class="col-lg-12">
						{% capture profile_raw %}{% include aryan/interests.html %}{% endcapture %}
						{% assign profile_md = profile_raw | markdownify %}
						{% include cards/card.html title="Personal Interests" content=profile_md %}
				</div>
			</div>
		</div>
	</div>
</div>
