ul.skill-tags {
    list-style: none;
}
ul.skill-tags li::before {

    content: '#';
    margin-right: 6px;
    margin-left: -6px;

}
.page-description.edu-info {
    margin-bottom: 10px;
    margin-top: -10px;
}
.card-header {
    cursor: pointer;
}